<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/formulario.css">
    </head>
    <body>
        <h1>Novo Aluno</h1>
        <form action="/salvar" method="POST">
            <div class="dados">
            <label for="">Nome :</label> <input type="text" name="nome"> <br/> 
            <label for="">Sobrenome :</label> <input type="text" name="sobrenome"> <br/>
            <label for="">Telefone :</label> <input type="text" name="telefone"> <br/>
            </div>
            <hr/>
            <div class="salvar">
                <input type="submit" value="Salvar">
                <input type="submit" value="Voltar">
            </div>
        </form>
    </body>
</html>



