body{
    background: url("fundo.png");
    background-size: 100%;
}
.salvar {
    text-align: center;
    font-family: "arial"- sans-serif;
}
.salvar input{
    height: 2em;
    width: 5em;
    padding: 0.2em;
    vertical-align: middle;
    background: #5ebbd0
}
.salvar input:hover{
    background: #555555
}