{% extends "principal.html" %}
{% block conteudo %}
<form action="/salvar-investimento" method="POST">
    <div class="form-row" >
        <div class="form-group col-md-6">
            <label for="">Categoria: </label>
            <select name="categoria" class="form-control">
              <option>teste</option>
            </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Tipo: </label>
          <select name="tipo" class="form-control">
            <option>teste</option>
          </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Aporte</label>
          <input name="aporte" type="text" class="form-control" placeholder="R$">
        </div>
        <div class="form-group col-md-6">
          <label for="">Rentabilidade</label>
          <input name="rentabilidade" type="text" class="form-control" placeholder="%">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Periodo: </label>
          <input name="periodo" type="date" class="form-control">
        </div>
    </div>
    <button type="submit">Salvar</button>
</form>
{% endblock %}